.card {
  width: 100%;
}
.card img {
  height: 200px;
}
@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1600px) {
  .card {
    width: 100%;
  }
}
